<h3>Technician Management
   <!--<small>Drag and Drop events and tasks</small>-->
</h3>

<div class="row">
	
	<div class="col-xs-4">
		
      <div class="panel widget" style="box-shadow: 0px 1px 3px #ccc;"
      	   ng-click="mod.open('lg', '/sparkplug/backend-angular/app/views/partials/modal-tech-management.html')">
         <div class="panel-body">
            <div class="row row-table">
               <div class="col-xs-4 text-center">
                  <img src="app/img/user/03.jpg" alt="Image" class="img-circle thumb96" />
               </div>
               <div class="col-xs-8">
                  <h3 class="mt0">Donald Hoffman</h3>
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <em class="fa fa-user fa-fw"></em> Tech ID</li>
                     <li class="mb-sm">
                        <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li> 
                     <li class="mb-sm">
                        <em class="fa fa-phone fa-fw"></em> 281-896-9856</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="panel-body bg-inverse">
            <div class="row row-table text-center">
               <div class="col-xs-4">
                  <p class="m0 h3">24</p>
                  <p class="m0 text-muted">Hours</p>
               </div>
               <div class="col-xs-4">
                  <p class="m0 h3">5</p>
                  <p class="m0 text-muted">Days</p>
               </div>
               <div class="col-xs-4">
                  <p class="m0 h3">51</p>
                  <p class="m0 text-muted">Range</p>
               </div>
            </div>
         </div>
      </div>
	
	</div><!--col-->
	
	
	<div class="col-xs-4">
		
	  <div class="panel widget" style="box-shadow: 0px 1px 3px #ccc;"
	  	   ng-click="mod.open('lg', '/sparkplug/backend-angular/app/views/partials/modal-tech-management.html')">
	     <div class="panel-body">
	        <div class="row row-table">
	           <div class="col-xs-4 text-center">
	              <img src="app/img/user/02.jpg" alt="Image" class="img-circle thumb96" />
	           </div>
	           <div class="col-xs-8">
	              <h3 class="mt0">Steve Smith</h3>
	              <ul class="list-unstyled">
	                 <li class="mb-sm">
	                    <em class="fa fa-user fa-fw"></em> Tech ID</li>
	                 <li class="mb-sm">
	                    <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li> 
	                 <li class="mb-sm">
	                    <em class="fa fa-phone fa-fw"></em> 281-896-9856</li>
	              </ul>
	           </div>
	        </div>
	     </div>
	     <div class="panel-body bg-inverse">
	        <div class="row row-table text-center">
	           <div class="col-xs-4">
	              <p class="m0 h3">24</p>
	              <p class="m0 text-muted">Hours</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">5</p>
	              <p class="m0 text-muted">Days</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">51</p>
	              <p class="m0 text-muted">Range</p>
	           </div>
	        </div>
	     </div>
	  </div>
	
	</div><!--col-->
	
	
	<div class="col-xs-4">
		
	  <div class="panel widget" style="box-shadow: 0px 1px 3px #ccc;"
	  	   ng-click="mod.open('lg', '/sparkplug/backend-angular/app/views/partials/modal-tech-management.html')">
	     <div class="panel-body">
	        <div class="row row-table">
	           <div class="col-xs-4 text-center">
	              <img src="app/img/user/04.jpg" alt="Image" class="img-circle thumb96" />
	           </div>
	           <div class="col-xs-8">
	              <h3 class="mt0">Jack Johanson</h3>
	              <ul class="list-unstyled">
	                 <li class="mb-sm">
	                    <em class="fa fa-user fa-fw"></em> Tech ID</li>
	                 <li class="mb-sm">
	                    <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li> 
	                 <li class="mb-sm">
	                    <em class="fa fa-phone fa-fw"></em> 281-896-9856</li>
	              </ul>
	           </div>
	        </div>
	     </div>
	     <div class="panel-body bg-inverse">
	        <div class="row row-table text-center">
	           <div class="col-xs-4">
	              <p class="m0 h3">24</p>
	              <p class="m0 text-muted">Hours</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">5</p>
	              <p class="m0 text-muted">Days</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">51</p>
	              <p class="m0 text-muted">Range</p>
	           </div>
	        </div>
	     </div>
	  </div>
	
	</div><!--col-->	
	
	
	<div class="col-xs-4">
		
	  <div class="panel widget" style="box-shadow: 0px 1px 3px #ccc;"
	  	   ng-click="mod.open('lg', '/sparkplug/backend-angular/app/views/partials/modal-tech-management.html')">
	     <div class="panel-body">
	        <div class="row row-table">
	           <div class="col-xs-4 text-center">
	              <img src="app/img/user/03.jpg" alt="Image" class="img-circle thumb96" />
	           </div>
	           <div class="col-xs-8">
	              <h3 class="mt0">Donald Hoffman</h3>
	              <ul class="list-unstyled">
	                 <li class="mb-sm">
	                    <em class="fa fa-user fa-fw"></em> Tech ID</li>
	                 <li class="mb-sm">
	                    <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li> 
	                 <li class="mb-sm">
	                    <em class="fa fa-phone fa-fw"></em> 281-896-9856</li>
	              </ul>
	           </div>
	        </div>
	     </div>
	     <div class="panel-body bg-inverse">
	        <div class="row row-table text-center">
	           <div class="col-xs-4">
	              <p class="m0 h3">24</p>
	              <p class="m0 text-muted">Hours</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">5</p>
	              <p class="m0 text-muted">Days</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">51</p>
	              <p class="m0 text-muted">Range</p>
	           </div>
	        </div>
	     </div>
	  </div>
	
	</div><!--col-->
	
	
	<div class="col-xs-4">
		
	  <div class="panel widget" style="box-shadow: 0px 1px 3px #ccc;"
	  	   ng-click="mod.open('lg', '/sparkplug/backend-angular/app/views/partials/modal-tech-management.html')">
	     <div class="panel-body">
	        <div class="row row-table">
	           <div class="col-xs-4 text-center">
	              <img src="app/img/user/03.jpg" alt="Image" class="img-circle thumb96" />
	           </div>
	           <div class="col-xs-8">
	              <h3 class="mt0">Donald Hoffman</h3>
	              <ul class="list-unstyled">
	                 <li class="mb-sm">
	                    <em class="fa fa-user fa-fw"></em> Tech ID</li>
	                 <li class="mb-sm">
	                    <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li> 
	                 <li class="mb-sm">
	                    <em class="fa fa-phone fa-fw"></em> 281-896-9856</li>
	              </ul>
	           </div>
	        </div>
	     </div>
	     <div class="panel-body bg-inverse">
	        <div class="row row-table text-center">
	           <div class="col-xs-4">
	              <p class="m0 h3">24</p>
	              <p class="m0 text-muted">Hours</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">5</p>
	              <p class="m0 text-muted">Days</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">51</p>
	              <p class="m0 text-muted">Range</p>
	           </div>
	        </div>
	     </div>
	  </div>
	
	</div><!--col-->
	
	
	<div class="col-xs-4">
		
	  <div class="panel widget" style="box-shadow: 0px 1px 3px #ccc;"
	  	   ng-click="mod.open('lg', '/sparkplug/backend-angular/app/views/partials/modal-tech-management.html')">
	     <div class="panel-body">
	        <div class="row row-table">
	           <div class="col-xs-4 text-center">
	              <img src="app/img/user/03.jpg" alt="Image" class="img-circle thumb96" />
	           </div>
	           <div class="col-xs-8">
	              <h3 class="mt0">Donald Hoffman</h3>
	              <ul class="list-unstyled">
	                 <li class="mb-sm">
	                    <em class="fa fa-user fa-fw"></em> Tech ID</li>
	                 <li class="mb-sm">
	                    <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li> 
	                 <li class="mb-sm">
	                    <em class="fa fa-phone fa-fw"></em> 281-896-9856</li>
	              </ul>
	           </div>
	        </div>
	     </div>
	     <div class="panel-body bg-inverse">
	        <div class="row row-table text-center">
	           <div class="col-xs-4">
	              <p class="m0 h3">24</p>
	              <p class="m0 text-muted">Hours</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">5</p>
	              <p class="m0 text-muted">Days</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">51</p>
	              <p class="m0 text-muted">Range</p>
	           </div>
	        </div>
	     </div>
	  </div>
	
	</div><!--col-->
	
	
	<div class="col-xs-4">
		
	  <div class="panel widget" style="box-shadow: 0px 1px 3px #ccc;"
	  	   ng-click="mod.open('lg', '/sparkplug/backend-angular/app/views/partials/modal-tech-management.html')">
	     <div class="panel-body">
	        <div class="row row-table">
	           <div class="col-xs-4 text-center">
	              <img src="app/img/user/03.jpg" alt="Image" class="img-circle thumb96" />
	           </div>
	           <div class="col-xs-8">
	              <h3 class="mt0">Donald Hoffman</h3>
	              <ul class="list-unstyled">
	                 <li class="mb-sm">
	                    <em class="fa fa-user fa-fw"></em> Tech ID</li>
	                 <li class="mb-sm">
	                    <em class="fa fa-envelope fa-fw"></em>asdasd@mail.com</li> 
	                 <li class="mb-sm">
	                    <em class="fa fa-phone fa-fw"></em> 281-896-9856</li>
	              </ul>
	           </div>
	        </div>
	     </div>
	     <div class="panel-body bg-inverse">
	        <div class="row row-table text-center">
	           <div class="col-xs-4">
	              <p class="m0 h3">24</p>
	              <p class="m0 text-muted">Hours</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">5</p>
	              <p class="m0 text-muted">Days</p>
	           </div>
	           <div class="col-xs-4">
	              <p class="m0 h3">51</p>
	              <p class="m0 text-muted">Range</p>
	           </div>
	        </div>
	     </div>
	  </div>
	
	</div><!--col-->
	
	
</div><!--row-->	

